.cart {
  @apply flex flex-col gap-2 px-32 py-3;
  .top {
    @apply flex justify-between items-center;
    .title {
      @apply flex gap-2 font-medium text-3xl items-center;
    }
    .clear {
      button {
        @apply flex gap-2 items-center text-gray-500;
        &:hover {
          @apply text-black;
        }
      }
    }
  }
  .total {
    @apply text-right font-medium text-xl pt-3;
  }
  .bottom {
    @apply flex justify-between items-center pt-3 px-3;
    .back,
    .buy {
      @apply border rounded-3xl px-16 py-2 py-1 text-lg font-normal text-slate-500 cursor-pointer;
      &:hover {
        @apply text-black;
      }
    }
    .buy {
      @apply text-black;
      &:hover {
        @apply bg-slate-200;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .cart {
    @apply px-16;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    @apply px-8;
    .bottom {
      button {
        @apply px-10;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .cart {
    @apply px-4;
    .bottom {
      @apply px-0;
      .back,
      .buy {
        @apply px-10;
      }
    }
  }
}
