.header {
  @apply grid  gap-4 border-b px-8 py-3 items-center justify-items-end;
  grid-template-columns: 30vw 30vw 1fr;
  grid-template-areas: "logo searchPanel cart";
  .logo {
    grid-area: logo;
    justify-self: start;
  }
  .cart {
    grid-area: cart;
  }
  .searchPanel {
    grid-area: searchPanel;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    @apply px-16;
  }
}
@media screen and (max-width: 768px) {
  .header {
    @apply px-8 gap-2;
  }
}
@media screen and (max-width: 700px) {
  .header {
    @apply grid-cols-2 px-8 gap-4;
    grid-template-areas: "logo cart" "searchPanel searchPanel";
  }
  .searchPanel {
    justify-self: start;
  }
}
@media screen and (max-width: 480px) {
  .header {
    @apply grid-cols-3 gap-x-0 px-4;
    grid-template-areas: "logo logo cart" "searchPanel searchPanel searchPanel";
    .searchPanel {
      justify-self: start;
    }
  }
}
