.logo {
  @apply flex justify-start content-center grow shrink;
  img {
    @apply w-16 mr-4;
  }
  .main {
    @apply flex flex-col justify-evenly;

    h1 {
      @apply text-lg font-semibold;
    }
    h2 {
      @apply text-xs font-normal text-slate-500;
    }
  }
}

@media screen and (max-width: 480px) {
  .logo {
    img {
      @apply mr-2;
    }
    .main {
      h1 {
        @apply text-base;
      }
    }
  }
}
